<section class="py-10 px-6 bg-gray-900">
    <h2 class="text-3xl font-semibold tracking-tight text-center text-white sm:text-5xl mb-10">Proyectos destacados</h2>
    <div class="w-48 h-1 bg-gradient-to-r from-indigo-500 to-purple-600 mx-auto rounded-full m-10"></div>
    <div class="flex justify-center-safe gap-x-15 mt-10 flex-wrap gap-y-10">
        <!-- Proyecto 1 -->
        <div class="card bg-base-100 w-96 shadow-2xl hover:shadow-indigo-500/20 transition-all duration-300">
            <div class="card-body items-center">
                <h2 class="card-title">Mundo Marcial</h2>
                <p>Aplicación web desarrollada con Angular para una escuela de Taekwondo, enfocada en
                    presentar información institucional de forma clara y profesional. Incluye diseño responsivo,
                    navegación estructurada y despliegue en línea, garantizando una experiencia de usuario consistente
                    en distintos dispositivos.</p>
                <div class="bg-base-100 rounded-lg p-8 shadow-lg hover:shadow-xl transition-shadow">
                    <h3 class="text-xl font-semibold text-white mb-4 flex justify-center gap-2">
                        Tecnologías
                    </h3>
                    <ul class="space-y-3">
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>Angular - Framework principal</span>
                        </li>
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>Bootstrap - Framework CSS para diseño responsive</span>
                        </li>
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>FontAwesome - Iconografía</span>
                        </li>
                    </ul>
                </div>
                <div class="card-actions">
                    <a href="/projects/mundo-marcial" class="btn btn-primary">Ver proyecto</a>
                </div>
            </div>
        </div>

        <!-- Proyecto 2 -->
        <div class="card bg-base-100 w-96 shadow-2xl hover:shadow-indigo-500/20 transition-all duration-300">
            <div class="card-body items-center">
                <h2 class="card-title">Sistema de Gestión de Inventario</h2>
                <p>Sistema de gestión de inventario basado en una API REST desarrollada con Spring Boot, que permite
                    administrar productos y usuarios mediante operaciones CRUD con validaciones y persistencia de datos
                    utilizando JPA y una base de datos relacional. Además, se implementó una interfaz frontend en
                    Angular integrada a la API para facilitar la gestión y visualización de la información.
                </p>
                <div class="bg-base-100 rounded-lg p-8 shadow-lg hover:shadow-xl transition-shadow">
                    <h3 class="text-xl font-semibold text-white mb-4 flex justify-center gap-2">
                        Tecnologías
                    </h3>
                    <ul class="space-y-3">
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>Spring Boot - Framework principal</span>
                        </li>
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>Angular - Framework principal</span>
                        </li>
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>Base de Datos (H2)</span>
                        </li>
                    </ul>
                </div>
                <div class="card-actions">
                    <a href="/projects/gestion-inventario" class="btn btn-primary">Ver proyecto</a>
                </div>
            </div>
        </div>

        <!-- Proyecto 3 -->
        <div class="card bg-base-100 w-96 shadow-2xl hover:shadow-indigo-500/20 transition-all duration-300">
            <div class="card-body items-center">
                <h2 class="card-title">Videojuego por consola</h2>
                <p>Videojuego por consola desarrollado en Java, diseñado bajo principios de programación orientada a
                    objetos y patrones de diseño. Implementa manejo de archivos para la persistencia de datos y una
                    arquitectura modular que facilita el mantenimiento, la extensibilidad y la escalabilidad del
                    sistema.</p>
                <div class="bg-base-100 rounded-lg p-8 shadow-lg hover:shadow-xl transition-shadow">
                    <h3 class="text-xl font-semibold text-white mb-4 flex justify-center gap-2">
                        Tecnologías
                    </h3>
                    <ul class="space-y-3">
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>Java - Lenguaje principal</span>
                        </li>
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>POO - Programación Orientada a Objetos</span>
                        </li>
                        <li class="flex items-center gap-3 text-gray-300">
                            <span class="w-2 h-2 bg-indigo-500 rounded-full"></span>
                            <span>Git-GitHub - Control de versiones</span>
                        </li>
                    </ul>
                </div>
                <div class="card-actions">
                    <a href="/projects/videojuego" class="btn btn-primary">Ver proyecto</a>
                </div>
            </div>
        </div>
    </div>
</section>