<section class="py-16 px-6 bg-background">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-3xl font-semibold tracking-tight text-center text-color-text sm:text-5xl mb-12">
            Stack <span class="text-transparent bg-clip-text bg-linear-to-r from-secondary-light to-primary"> Tecnológico </span> 
        </h2>
        <div class="w-48 h-1 bg-linear-to-r from-secondary to-primary mx-auto rounded-full m-10"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            @for (category of categories; track category.title) {
            <div
                class="bg-background-secondary rounded-lg p-6 hover:border-secondary hover:border-2 transition-all duration-300 hover:-translate-y-2 border border-border/40">
                <h3 class="text-xl font-semibold text-color-text mb-4 flex justify-center gap-2">
                    {{ category.title }}
                </h3>
                <ul class="space-y-3">
                    @for (item of category.items; track item.name) {
                    <li class="flex items-center gap-3 text-text-secondary">
                        <span class="flex items-center justify-center shrink-0" [innerHTML]="item.iconSvg"></span>
                        <span>{{ item.name }}</span>
                    </li>
                    }
                </ul>
            </div>
            }
        </div>
    </div>
</section>