<div class="hero bg-gradient-to-r from-indigo-900 via-slate-900 to-indigo-900 min-h-[60vh]">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Kevin Correal Desarrollador de Software</h1>
            <p class="py-6">
                Estudiante de Ingeniería de Software, enfocado en desarrollo Backend & Fullstack · Java · Spring Boot ·
                Angular. Construyo aplicaciones estructuradas, escalables y pensadas para resolver problemas reales.
            </p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/projects"
                    class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 transition-all duration-300">Ver
                    proyectos</a>
                <a href="mailto:{{ email }}" class="text-sm/6 font-semibold text-white">Contactame <span
                        aria-hidden="true">→</span></a>
            </div>
        </div>
    </div>
</div>