<nav
    class="sticky top-0 z-50 bg-background-tertiary after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">

            <!-- Botón Menú Móvil -->
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden transition-all duration-500 group">
                <button type="button" (click)="toggleMenu()"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray hover:bg-background-tertiary hover:text-light focus:outline-none">
                    <span class="sr-only">Abrir menú</span>
                    <!-- Icono Hamburguesa (se oculta si está abierto) -->
                    <svg [class.hidden]="isMobileMenuOpen()" class="size-6" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!-- Icono X (se muestra si está abierto) -->
                    <svg [class.hidden]="!isMobileMenuOpen()" class="size-6" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <!-- Contenedor Logo + Links -->
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-between">
                <!-- Logo -->
                <div class="flex shrink-0 items-center gap-2 cursor-pointer" (click)="goToHome()">
                    <div class="w-12 h-12 rounded-lg flex items-center justify-center">
                        <img src="https://res.cloudinary.com/dz1vsm25f/image/upload/logo-removebg-preview_dyliyq.png"
                            alt="Logo">
                    </div>
                    <span class="text-text tracking-tight font-semibold text-[10px]">
                        KEVIN SMITH <br> <span class="text-primary">CORREAL CHOCONTA</span>
                    </span>
                </div>

                <div class="hidden sm:ml-6 sm:flex items-center">
                    <div class="flex space-x-5">
                        <a routerLink="/home" routerLinkActive="bg-primary-active text-color-text"
                            [routerLinkActiveOptions]="{exact: true}"
                            class="rounded-full px-3 py-2 text-sm font-medium hover:text-text-secondary hover:scale-105 transition-all duration-300">
                            Inicio
                        </a>
                        <a routerLink="/about" routerLinkActive="bg-primary text-color-text"
                            [routerLinkActiveOptions]="{exact: true}"
                            class="rounded-full px-3 py-2 text-sm font-medium text-text-secondary hover:scale-105 hover:text-light transition-all duration-300">Sobre
                            mí</a>
                        <a routerLink="/projects" routerLinkActive="bg-primary text-color-text"
                            [routerLinkActiveOptions]="{exact: false}"
                            class="rounded-full px-3 py-2 text-sm font-medium text-text-secondary hover:scale-105  hover:text-light transition-all duration-300">Proyectos</a>
                        <a href="mailto:kevincorreal1808@gmail.com"
                            class="rounded-full px-3 py-2 text-sm font-medium text-primary hover:scale-105 hover:text-primary-hover border border-primary/70 transition-all duration-300">Contáctame</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menú Móvil Desplegable -->
    <div [class.hidden]="!isMobileMenuOpen()"
        class="sm:hidden bg-background-tertiary border-t border-white/10 transition-all duration-500 group">
        <div class="space-y-1 px-2 pt-2 pb-3">
            <a routerLink="/home" routerLinkActive="bg-primary/20 text-light" [routerLinkActiveOptions]="{exact:true}"
                (click)="closeMenu()"
                class="block rounded-md px-3 py-2 text-base font-medium text-text-secondary hover:text-light">Inicio</a>
            <a routerLink="/about" routerLinkActive="bg-primary/20 text-light" [routerLinkActiveOptions]="{exact:true}"
                (click)="closeMenu()"
                class="block rounded-md px-3 py-2 text-base font-medium text-text-secondary hover:text-light">Sobre
                mí</a>
            <a routerLink="/projects" routerLinkActive="bg-primary/20 text-light" (click)="closeMenu()"
                class="block rounded-md px-3 py-2 text-base font-medium text-text-secondary hover:text-light">Proyectos</a>
            <a href="mailto:kevincorreal1808@gmail.com" routerLinkActive="bg-primary/20 text-light"
                [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()"
                class="block rounded-md px-3 py-2 text-base font-medium text-text-secondary hover:text-light">Contáctame</a>
        </div>
    </div>
</nav>